/*css chỉnh sửa*/
.pt_vmegamenu .itemMenu.level1 p.itemMenuName.level3{
	color: #3E3E3E;
	font-weight:500;
	margin:0;
	padding-bottom: 4px;
}
.row_menu{
	float:left;
	width:240px;
	margin-right: 15px;
}
.pt_vmegamenu div.itemSubMenu {
	margin: 0;
	padding:0px 0 15px 25px
}
.pt_vmegamenu .itemMenu.level1 a.itemMenuName.level4,
.pt_vmegamenu .itemMenu.level1 a.itemMenuName.level3.nochild{
	border: 0;
	background: none;
	text-transform: capitalize;
	line-height: 25px;
	font-size: 13px;
font-weight: 300;
}
.parentMenu {
	position: relative;
}
/* end */
.pt_vmegamenu_title{
	position: relative;
	margin-top: 35px;}
.pt_vmegamenu_title h2 {
	margin: 0;
	color: #fff;
	font: 700 24px/36px 'Khula', sans-serif;
	text-transform: uppercase;
	padding: 9px 0 0 60px;
	cursor: pointer;
	background: #f981a6;
	border-bottom: 2px solid #f35c9f;
	position: relative;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: auto;
}
.pt_vmegamenu {
	width: 100%;
	display: block;
	border-top: 0;}
.pt_vmegamenu  .last .parentMenu{background: none}

.pt_vmegamenu div.pt_menu:last-child {
	border-bottom: 0;}
.pt_vmegamenu div.pt_menu.active{
	background:#ff6709;
}
.pt_vmegamenu div.popup {
	padding:0;
	display: none;
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	text-align: left;
	width: auto !important;
	z-index: 3000;
	background: transparent;
	padding-left: 0;
	border: 1px solid #e0e0e0;
	border-left: 0;
	background: #fff;
	-webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	height: 448px;
	min-width: 500px;
overflow: auto;
}
.box-popup {
	padding: 25px 20px;
	float: left;
}
.arrow-left-menu{
	background: url("../images/arrow-left-menu.png") no-repeat scroll 0 18px;
	float: left;
	height: 50px;
	margin: -5px 0 0 -15px;
	padding: 0;
	width: 19px;
	position: relative;
	z-index: 1;}
.pt_vmegamenu div.pt_menu .parentMenu a{
	text-decoration: none;
	display: block;
	line-height:42px;
	font-size:14px;
	font-weight:400; 
	padding-left:35px;  
	color: #fff;
	text-transform: uppercase;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 32px;
}
.pt_vmegamenu div.pt_menu.active .parentMenu a{
	color: #fff;}
.pt_vmegamenu div.pt_menu .parentMenu a:after{
	font-family: FontAwesome;
	content: "\f105";
	position: absolute;
	color: #fff;
	color: rgba(255,255,255,0.5);
	right: 20px;
	top: 20px;
	font-size:20px;
	line-height:0px;
}
.pt_vmegamenu div.pt_menu.noSub .parentMenu a:after{
	display: none;}
.custom-menu-right { float: left; margin: 0;}
.pt_vmegamenu .column.blockright { width: 215px; }
.menu-right-title {
	background: url("../images/bg-bottom1-title.png") repeat-x left bottom;
	float: left;
	margin: 0 0 20px 0;
	width: 100%;
}
.menu-right-title h2 {
	background: url("../images/bg-f-title6.png") no-repeat scroll left bottom;
	color: #777777;
	font-family: 'titilliumwebsemibold';
	font-size: 16px;
	margin: 0;
	padding: 0 0 8px;
	text-transform: uppercase;
}
.menu-right-images { float: left;}
.m-images { float: left;}
.m-images.col1 { margin:20px 0 0;}
.pt_vmegamenu div.pt_menu.last .parentMenu.noSubMenu{
	border: 0;
}
.cms-index-index .navleft-container{margin: 0 0 50px}
.pt_vmegamenu div.popup a {
	text-decoration: none;
	display:block;
}
.pt_vmegamenu .itemMenu h4.level3{
	display: block;
	background: transparent;
	color: #000;
	position: relative;
	margin-bottom:0px;
	font: 600 16px/36px 'Khula', serif;
}
.pt_vmegamenu .itemMenu a.level3.nochild{
	background: none;
	margin: 0;
	padding: 0;
	font: normal 14px/36px 'Arial', sans-serif;
	color: #bdbdbd;}
.pt_vmegamenu .itemMenu h4.level3:hover,
.pt_vmegamenu .itemMenu.level1 a.itemMenuName.level3:hover,
.pt_vmegamenu .itemMenu a.level3.nochild:hover{
	color: #f981a6;}
.pt_vmegamenu .itemMenu h4.level3,
.pt_vmegamenu .itemSubMenu h4.level4 span{
	color: #897725;
}
.pt_vmegamenu .itemMenu h4.level3:hover, .pt_vmegamenu .itemMenu a.level3:hover{
	color:#f981a6
}
.pt_vmegamenu .itemSubMenu h4.level4,
.itemMenu.level1 a.itemMenuName.level4,
.pt_vmegamenu .itemSubMenu h4.level3,
.pt_vmegamenu .itemSubMenu a.level3,
.pt_vmegamenu .itemMenu a.level4.nochild{
	font: normal 13px/36px 'Arial', sans-serif;
	color: #bdbdbd;
	text-transform: none;
	text-transform: capitalize;
}
.pt_vmegamenu .itemSubMenu h4.level4:hover,
.itemMenu.level1 a.itemMenuName.level4:hover,
.pt_vmegamenu .itemSubMenu h4.level3:hover,
.pt_vmegamenu .itemSubMenu a.level3:hover,
.pt_vmegamenu .itemMenu a.level4.nochild:hover{
color:#ff6709;
}

.pt_vmegamenu .itemMenu.level1 a.itemMenuName.level4:after,
.pt_vmegamenu .itemMenu.level1 a.itemMenuName.level3.nochild:after{
	display: none;}
.pt_vmegamenu div.popup a.act{color: #f981a6;}
.pt_vmegamenu div.column {
	float:left;
	width:215px;
	margin-right: 15px;
	padding-right:0;
}
.pt_vmegamenu div.column.last {
	border-right: 0 none;
	margin-right: 0;
	padding-right: 0;
}

.pt_vmegamenu .clearBoth {
	clear:both;
}
.pt_vmegamenu .block2{
	margin-top: 10px;
	/*    display: inline-block;*/
}
.pt_vmegamenu #popup_home{
	display: none !important;
}
.pt_vmegamenu div.popup .block1{
	overflow: hidden;
}
.pt_vmegamenu div.popup .block1 .column{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
/*show right block*/
.pt_vmegamenu div.popup .floatleft{
	float: left;
}
.pt_vmegamenu div.popup .blockright img{
	max-width: 100%;
}
.pt_vmegamenu .parentMenu .block-title{
	color: #1E7EC8;
}
.pt_vmegamenu div.pt_menu .parentMenu p{
	margin: 0;
	padding: 0;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li{
	float: none;
	list-style: none;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li a{
	float: none;
	padding: 5px 10px 6px;
	display: block;
}
.pt_vmegamenu #pt_menu_link{
	padding: 0;
	width: 195px;
}
.pt_vmegamenu .wrap-popup{
	position: absolute;
	left: 100%;
	top: 0;
	width: 914px;
}
.pt_vmegamenu .wrap-popup:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }}
@media (max-width: 1199px)  {
	.pt_vmegamenu .wrap-popup { left: 140px;}
	.pt_vmegamenu div.popup{left:27px !important;}
}
/*============end megamenu==========================*/
/* edit */
.cate-thumb{
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	margin: 0 15px 0 0;
	margin-top: 11px;}
.cate-thumb img{
	margin: 0 auto;}
@media (max-width: 1199px){
	.cate-thumb{
		display: none;}
}